---
import voices from "../data/elevenLabsVoicesDict.json";

const voiceArray = Object.keys(voices);
---

<html>
  <body>
    <main>
      <header>
        <h1>GPTalk</h1>
        <div class="prompt-container">
          <label for="prompt-input">Prompt:</label>
          <textarea class="prompt-input" name="prompt-input"></textarea>
        </div>
      </header>
      <button class="start-button">START</button>
      <div class="bot-container">
        <div class="bot bot-one">
          <img class="bot-image" src="/cat.png" />
          <label for="voice-selector">Voice:</label>
          <select name="voice-selector" class="voice-selector voice-one">
            <option value="" disabled selected>Select voice one</option>
            {
              voiceArray.map((voice) => (
                <option value={voices[voice]}>{voice}</option>
              ))
            }
          </select>
          <p class="bot-output output-one"></p>
        </div>
        <div class="bot bot-two">
          <img class="bot-image" src="/chicken.png" />
          <label for="voice-selector">Voice:</label>
          <select name="voice-selector" class="voice-selector voice-two">
            <option value="" disabled selected>Select voice two</option>
            {
              voiceArray.map((voice) => (
                <option value={voices[voice]}>{voice}</option>
              ))
            }
          </select>
          <div class="bot-output output-two"></div>
        </div>
      </div>
    </main>
  </body>
  <script>
    const audioContext = new AudioContext();
    let playableAudio;
    const startButton = document.querySelector(".start-button");
    const initialPrompt = document.querySelector(
      ".prompt-input"
    ) as HTMLInputElement;
    const botOneOutput = document.querySelector(".output-one");
    const botTwoOutput = document.querySelector(".output-two");
    const conversationContext: object[] = [];
    const voiceOne = document.querySelector(".voice-one") as HTMLInputElement;
    const voiceTwo = document.querySelector(".voice-two") as HTMLInputElement;
    let useVoiceOne = false;

    // Need to cancel request if voices are not selected

    // Start button will always initiate new convo
    // Hide after initial push, switch to convo display
    if (startButton) {
      startButton.addEventListener("click", () => {
        const textConfig = {
          method: `POST`,
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          body: JSON.stringify({ data: initialPrompt.value }),
        };
        try {
          fetch("http://localhost:3000", textConfig)
            .then(async (res) => res.json())
            .then(async (textData) => {
              const audioConfig = {
                method: `POST`,
                headers: {
                  "Content-Type": "application/json",
                  Accept: "application/json",
                },
                body: JSON.stringify({ data: textData, voice: voiceOne.value }),
              };
              botOneOutput!.innerHTML = textData;
              conversationContext.push({ role: "user", content: textData });
              return fetch("http://localhost:3000/audio", audioConfig);
            })
            .then(async (res) => await res.arrayBuffer())
            .then(async (audio) => {
              playableAudio = await audioContext.decodeAudioData(audio);
              playAudio();
            });
        } catch (err) {
          console.log("Start conversation error: \n", err);
        }
      });
    }

    function playAudio() {
      const playSound = audioContext.createBufferSource();
      playSound.addEventListener("ended", continueConversation);
      playSound.buffer = playableAudio;
      playSound.connect(audioContext.destination);
      playSound.start(audioContext.currentTime);
    }

    function continueConversation() {
      const textConfig = {
        method: `POST`,
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        body: JSON.stringify({ data: conversationContext }),
      };
      try {
        fetch("http://localhost:3000/continue", textConfig)
          .then(async (res) => res.json())
          .then(async (textData) => {
            const currentVoice = useVoiceOne ? voiceOne.value : voiceTwo.value;
            const audioConfig = {
              method: `POST`,
              headers: {
                "Content-Type": "application/json",
                Accept: "application/json",
              },
              body: JSON.stringify({ data: textData, voice: currentVoice }),
            };
            if (useVoiceOne) {
              botOneOutput!.innerHTML = textData;
            } else {
              botTwoOutput!.innerHTML = textData;
            }
            conversationContext.push({ role: "user", content: textData });
            useVoiceOne = !useVoiceOne;
            return fetch("http://localhost:3000/audio", audioConfig);
          })
          .then(async (res) => await res.arrayBuffer())
          .then(async (audio) => {
            playableAudio = await audioContext.decodeAudioData(audio);
            playAudio();
          });
      } catch (err) {
        console.log("Continued conversation error: \n", err);
      }
    }
  </script>

  <style>
    * {
      box-sizing: border-box;
      margin: 0;
    }

    main {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    header {
      display: flex;
      align-items: center;
      gap: 4em;
    }

    h1 {
      position: relative;
    }

    .bot {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }

    .voice-selector {
      width: 50%;
      align-self: center;
    }

    .bot-image {
      height: 250px;
    }

    .bot-container {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      align-items: start;
    }

    .start-button {
      background-color: green;
      height: 60px;
      width: 120px;
      border-radius: 1em;
      border: 2px solid black;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.73);
      cursor: pointer;
    }

    .bot-output {
      border: 1px solid black;
      height: 150px;
      width: 85%;
    }
  </style>
</html>
